#headshot-photo {
    border-radius: 50%;
}

.portfolio-item.first-item {
    border: lightgray solid 3px;
}

.portfolio-item.second-item {
    border-right: lightgray solid 3px;
    border-top: lightgray solid 3px;
    border-bottom: lightgray solid 3px;
}

.portfolio-item.third-item {
    border-right: lightgray solid 3px;
    border-top: lightgray solid 3px;
    border-bottom: lightgray solid 3px;
}

.photo-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.tech-logo {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    background: white;
}

#contact-footer {
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-question {
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: x-large;
    align-self: center;
    margin-bottom: 10px;
}

#contact-anchor {
    padding: 10px;
    font-size: large;
    border: 3px solid white;
    border-radius: 10%;
    width: 150px;
    align-self: center;
}

#contact-anchor:hover {
    color: #2b669a;
    background-color: white;
    text-decoration: none;
}

#contact-anchor:visited {
    color: white;
    text-decoration: none;
}

#contact-anchor:active {
    color: white;
    text-decoration: none;
}

@media (min-width: 992px) {
    #footer-icons {
        margin-top: 50px;
    }
}

.image {
    height: 300px;
}

@media (max-width: 767px) {
    .section-header {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }
}

@media (min-width: 768px) {
    .section-header {
        padding-bottom: 30px;
    }
}

.projects-holder .text {
    height: 200px;
}

.font-medium {
    font-size: medium;
}